<div class="modal-dialog">
  <div class="modal-content">
     
     <div class="modal-body">
      <form class="ui form " style="padding:20px"  >
        <h4>Vill du verkligen ta bort artikeln?</h4>
        <br/>
        <div class="div-box-form ui grid"> 
                <div class="bottom_modal" style="clear:both">   
                        <sm-button (click)="close()" style="float:left;"  class="grey" icon="remove">AVBRYT </sm-button>
                        <sm-button (click)="ConfirmDelete()" style="margin-left: 218px;"  class="red" icon="trash">RADERA </sm-button>
                </div>  
        </div>  
      </form>  
     </div> 
    
   </div> 
</div>


