<div class="main-wrapper">
	<div class="ui sidebar inverted vertical menu mobile-nav">
			<app-mobile-header></app-mobile-header>
  	</div>
	<div class="pusher">
		<div class="header-main">
		
			<div class="ui container custom-container">
				
				<div class="header-top-bar">
				<a class="toc item">
				<i class="fa fa-bars"></i>
				</a>
				<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
				<div class="font-size0 header-top-left">
						<div class="header-top-left-inner">
						<div class="selector-checkbox">
							
						</div>
						
						<div class="search-header">
							<div class="header-top-date">
							<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
						</div>
					</div>
					<app-header></app-header>
					</div>
					
						
						</div>
					
			</div>
		</div>
		<form class="ui form" #eventForm="ngForm">
		<div class="ui container custom-container custom-container-layout">
					<div class="ui grid">
	  					<div class="ten wide column">
	  						<div class="sixteen wide field">
	  							<span>Event nr <b>{{eventDetail.id}}</b></span>
  								<span>Datum <b>{{eventDetail.createdAt | date: 'yyyy-MM-dd'}}</b></span>
  							</div>
  							<div class="sixteen wide column">
  								<div class="two fields">
	  								<div class="twelve wide field">
		  								<label>Titel</label>
										<input type="text" name="name" 
										placeholder="Name" [(ngModel)]="eventDetail.name"/>
										
				    				</div>
				    				<div class="four wide field">
		  								<label>Datum</label>
										<!--<input type="text" name="date" 
										placeholder="Event Date" [(ngModel)]="eventDate"/>-->
										<angular2-date-picker name="date" 
										[(ngModel)]="eventDate" [settings]="settings">
										</angular2-date-picker>
				    				</div>
				    			</div>
  							</div>
  							<div class="sixteen wide column">
  								<div class="fields">
	  								<div class="five wide field">
		  								<label>Plats</label>
				    					<input type="text" name="location" placeholder="Location" [(ngModel)]="eventDetail.location"/>
				    				</div>
				    				<div class="eleven wide field">
				    					<div class="fields">
				    						<div class="four wide field">
		  										<label>Startar</label>
												<!--<input type="text" name="time_from" 
												placeholder="" 
												[(ngModel)]="eventDetail.timeFrom"/>-->
												<angular2-date-picker name="time_from" 
												[(ngModel)]="timeFrom" [settings]="timeSettings">
												</angular2-date-picker>
				    						</div>
				    						<div class="four wide field">
		  										<label>Slutar</label>
												<!--<input type="text" name="time_to" 
												placeholder="" 
												[(ngModel)]="eventDetail.timeTo"/>-->
												<angular2-date-picker name="time_to" 
												[(ngModel)]="timeTo" [settings]="timeSettings">
												</angular2-date-picker>
				    						</div>
				    						<div class="five wide field">
		  										<label>Max pers</label>
				    							<input type="text" name="max_persons" placeholder=""[(ngModel)]="eventDetail.maxPersons"/>
				    						</div>
				    						<div class="two wide field">
		  										<label>Pris</label>
				    							<input type="text" name="price" placeholder="" [(ngModel)]="eventDetail.price"/>
				    						</div>
				    					</div>
				    				</div>
				    			</div>
  							</div>
  							<div class="sixteen wide column">
  								<label>Eventbeskrivning</label>
  								<textarea rows="10" name="info" [(ngModel)]="eventDetail.info"></textarea>
  							</div>
  							<div class="ui padded grid">
	  							<div class="sixteen wide column">
	  									<div class="ui medium image middle aligned">
			  							<img [src]="eventDetail.image">
										</div>
									<div class="fields">
											<!--<button class="ui primary button article-add-image">Add</button>-->
											<input type="file" #fileInput (change)="onFileChange()" style="display:none;"/>
											<button class="ui button add-event-file" (click)="fileInput.click(); $event.preventDefault();">Välj fil</button>
									</div>
								
	  							</div>
	  						</div>
								
	  					</div>
	  					<div class="six wide column" id="event-participant">
	  						<div class="sixteen wide column">
									<table class="table-padding" cellspacing="100" width="100%">
										<tr>
											<td width="40%">Deltagarlista</td>
											<td><span style="font-size:17px; font-weight:bold;">{{eventParticipants.length}}</span>personer anmälda</td>
										</tr>
									</table>
	  							<table class="ui celled striped table" cellspacing="100" style="margin:0px;">
						      <thead>
						        <tr >
								<th width="40%" class="left aligned">
									<b>Namn</b>
								</th>
								<th width="50%">
										<span class="participant-span">Mobil</span>
								</th>
								<th width="10%"></th>
						        </tr>
							  </thead>
						      <tbody>
								  
						        <tr *ngFor="let particpant of eventParticipants;let i=index">
						          <td class="left aligned collapsing" >
											   {{particpant.name}}											   
								  </td>
								  <td><span class="participant-span-td">{{particpant.mobile}}</span></td>
								  <td><a href="javascript:void(0);" (click)="deleteParticipant(particpant.id,i)" alt="symbol Trashcan"><i class="far fa-trash-alt custom-fa-trash-alt"></i></a></td>
						        </tr>
						    </tbody>
			    			</table>
	  						</div>
	  						<div class="ui padded grid">
	  							<div class="sixteen wide column">
	  							<button class="ui orange button" (click)="onPrintParticipant($event,'event-participant');">LISTA</button>
	  						</div>
	  						</div>
	  						
	  						
	  					</div>
					</div>
				
		</div>
		<div class="ui grid">
				<div class="left floated four wide column article-left-button">
	          			<button class="ui orange button" (click)="onPrint($event);">SKRIV UT</button>
	          	</div>
        		<div class="right floated three wide column article-right-button">
	            		<button class="ui red button" (click)="deleteEvent($event);">RADERA</button>
						<button class="ui green button" id="eventSubmitButton" (click)="onSubmit($event,eventForm.value)">SPARA</button>
        		</div>
			</div>
		</form>
	</div>
</div>
