.custom-container-layout{
	background: #dddd;
	padding: 20px;
	border: 1px solid #dddd;
	margin-top: 2px;
}
.custom-container-layout .new-package-button{
	float:right;
	padding:7px;
}
.custom-fa-trash-alt {
	color: red;
	float: right;
}
.custom-fa-sort-down{
	margin-left:100px;
}
div.left.floated.four.wide.column.article-left-button{
	margin:5px 0 0 110px;
}
.floated.three.wide.column.article-right-button{
	margin:5px 0 0 619px;
}
button.ui.primary.button.article-add-image{
	margin:5px 0 0 10px;
}
.participant-span{
	font-weight: bold;
}


.ui.celled.table tr td, .ui.celled.table tr th{border: none; height: 46px;}
.table-padding tr td{padding:.7em .78571429em; font-size:16px; font-weight:bold;}