<!--<div class="header-content">
  <sm-menu id="header-menu" class="inverted grey compact">
    <a sm-item *ngFor="let item of menuItems" routerLink="{{item?.path}}" routerLinkActive="active" >{{item?.title}}</a>
  </sm-menu>
  <img class="logo" src="assets/header-logo.png" />
  <p>
    Torsdag den 19 mars 2018<br/>
    Inloggad: Ann Börjesson
  </p>
</div>-->
<div class="main-navigation">
					<ul>
						<li *ngFor="let item of menuItems" class=""><a href="javascript:void(0);" (click)="router.navigateByUrl(item.path)">{{item?.title}}</a></li>
						<!--<li><a href="#">Startsida</a></li>
						<li><a href="#">Bokning</a></li>
						<li><a href="#">Medlemmar</a></li>
						<li><a href="#">Offert</a></li>
						<li class="active"><a href="/article">Artiklar</a></li>
						<li><a href="#">Faktura</a></li>
						<li><a href="/cafeteria">Mackeria</a></li>
						<li><a href="#">Event</a></li>
						<li><a href="#">Partners/Lev</a></li>
						<li><a href="#">Personer</a></li>
						<li><a href="#">Inställningar</a></li>
						<li><a href="#">Statistik</a></li>-->
					</ul>
				</div>