.custom-container-layout{
	background: #ffff;
	padding: 20px;
	border: 1px solid #dddd;
	margin-top: 2px;
}
input::placeholder{color:#000000;opacity: 1;}
.custom-container-layout .new-package-button{
	float:right;
	padding:7px;
}
.custom-fa-trash-alt {
	color: red;
	float: right;
}
.custom-fa-sort-down{
	margin-left:100px;
}
div.left.floated.four.wide.column.article-left-button{
	margin:5px 0 0 55px;
}
.floated.three.wide.column.article-right-button{
	margin:5px 0 0 805px;
}
button.ui.primary.button.article-add-image{
	margin:5px 0 0 10px;
}
.add-article-file{
	background-color:#CCCCCC;
	margin:5px;
}