.cafeteria-calendar{ margin:8px 0 0 -16px }
.cafeteria-input-cal{ width:100px;}
.search-header-cafeteria .header-top-date { display:block;float: right;}
.search-header-cafeteria .header-top-date p { font-size:13px;}
.search-header input[type="submit"], .search-header button.ui.button {margin: 22px 0 0 5px;}
.header-top-date {margin: -55px 0 0 40px;}
.header-top-left{overflow:visible;}
.cafeteria-table-row{cursor:pointer;}

