.search-header-cafeteria{ margin:20px 155px 0 0;}
.search-header-cafeteria{ margin: 20px 0 0 46px;}
.search-header-cafeteria .header-top-date { display:block;float: right;}
.search-header-cafeteria .header-top-date p { font-size:13px;}
.search-header .header-top-date{margin-left:10px}
/*.header-top-left-inner{margin-left:438px;float:left; }*/
.event-table-row{ cursor: pointer;}
.add-event-file{background-color:#CCCCCC;margin:5px;}