<div class="main-wrapper">
	
	<div class="ui sidebar inverted vertical menu mobile-nav">
		<div class="search-header">
			<input class="form-control" type="text" name="search" [(ngModel)]="filter">
			<button class="ui button search"><i class="fa fa-search"></i></button>
		</div>
		<app-mobile-header></app-mobile-header>
	  </div>
	<div class="pusher">
	<div class="header-main">
		<div class="ui container custom-container">
			<div class="header-top-bar">
				<a class="toc item">
					<i class="fa fa-bars"></i>
				</a>
				<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
				<div class="font-size0 header-top-left">
					<div class="header-top-left-inner">
							<div class="add-button">
									<a href="javascript:void(0);" class="ui blue button icon" (click)="eventDetail('events');"><i class="fa fa-plus"></i> NYTT EVENT</a>
								 </div>
						<div class="search-header search-header-cafeteria">
							<input class="form-control" type="text" name="search" [(ngModel)]="filter">
							<button class="ui button search"><i class="fa fa-search"></i></button>
							<div class="header-top-date">
							<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
						</div>
						</div>
						
						
					</div>
					<app-header></app-header>
				</div>
			</div>
		</div>
	</div>
	<div class="ui container custom-container article-container">
		
	<div class="ui grid one column">
		<div class="column">
			<table class="ui celled striped table">
			  <thead>
				<tr >
				<th width="10%" class="left aligned">Titel</th>
				<th width="15%">Datum</th>
				<th width="15%">Tid</th>
				<th width="20%">Plats</th>
				<th width="20%">Max pers</th>
				<th width="20%">Anmälda</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="event-table-row" *ngFor="let event of events | filter:filter" (click)="editEvent(event);">
				  <td class="left aligned collapsing">{{event.name}}</td>
				  <td>{{event.date}} </td>
				  <td>{{event.timeFrom}}</td>
				  <td>{{event.location}}</td>
				  <td>{{event.maxPersons}}</td>
				  <td>{{event.participants}}</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	
	<div class="ui stackable grid">
		<div class="two wide column">
		<sm-button class="orange" icon="print"> SKRIV UT</sm-button>
		</div>
		<div class="fourteen wide column text-center">
		<!-- <sm-menu class="pager compact">
			  <a href="#" sm-item>Previous</a>
			  <a href="#" sm-item>1</a>
			  <a href="#" class="active" sm-item>2</a>
			  <a href="#" sm-item>3</a>
			  <a href="#" sm-item>4</a>
			  <a href="#" sm-item>5</a>
			  <a href="#" sm-item>6</a>
			  <a href="#" sm-item>Next</a>
		</sm-menu> -->
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
	</div>
	</div>
</div>